<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div id="content">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div
              class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center"
            >
              <h2 class="ml-lg-12">Nuevo Cliente</h2>
            </div>
          </div>
        </div>

        <!-- -------------------------------------------------------------------------------- -->
        <!-- -------------------------------- FORMULARIO ------------------------------------ -->

        <form>
          <h2>Datos Cliente</h2>
          <hr />
          <div class="form-group">
            <label for="inputNombre">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="inputNombre"
              name="nombre"
              placeholder="Ingrese el nombre del cliente"
              [(ngModel)]="cliente.nombre"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Apellido:</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail2"
              aria-describedby="emailHelp"
              placeholder="Ingrese el apellido del cliente"
              name="apellido"
              [(ngModel)]="cliente.apellido"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail4">Email:</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail4"
              aria-describedby="emailHelp"
              placeholder="Ingrese el email del cliente"
              name="mail"
              [(ngModel)]="cliente.mail"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail5">Teléfono:</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail5"
              aria-describedby="emailHelp"
              placeholder="Ingrese el teléfono del cliente"
              name="telefono"
              [(ngModel)]="cliente.telefono"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail6">Dirección:</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail6"
              aria-describedby="emailHelp"
              placeholder="Ingrese la dirección del cliente"
              name="direccion"
              [(ngModel)]="cliente.direccion"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">N° Documento:</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail3"
              aria-describedby="emailHelp"
              placeholder="Ingrese el número de documento"
              name="dni"
              [(ngModel)]="cliente.documento"
            />
          </div>
        </form>
        <button
          class="btn btn-success mb-3"
          role="button"
          (click)="agregar()"
          *ngIf="!cliente.id; else elseBlock"
        >
          Cargar cliente
        </button>

        <ng-template #elseBlock>
          <button class="btn btn-success mb-3" (click)="update()">
            Actualizar
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
