<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div id="content">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div
              class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center"
            >
              <h2 class="ml-lg-2">Listado de Proveedores</h2>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">N° Identificación</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Modo de envio</th>
              <th scope="col">Costo de servicio</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proveedor of listado">
              <td>{{ proveedor.nombre }}</td>
              <td>{{ proveedor.numIdentificaion }}</td>
              <td>{{ proveedor.mail }}</td>
              <td>{{ proveedor.telefono }}</td>
              <td>{{ proveedor.direccion }}</td>
              <td>{{ proveedor.metodoEnvio?.tipo }}</td>
              <td *ngIf="!proveedor.costoProveedor; else elseBlock"></td>

              <ng-template #elseBlock>
                <td>$ {{ proveedor.costoProveedor }}</td>
              </ng-template>

              <td>
                <div class="d-flex">
                  <app-delete-proveedor
                    [id]="proveedor.id"
                    (onEliminar)="actualizarListado()"
                    class="mr-2"
                  ></app-delete-proveedor>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-warning"
                    [routerLink]="['/nuevo-proveedor', proveedor.id]"
                  >
                    Editar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
