.entero {
  margin-left: 13%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.contenedor {
  margin-top: 40px;
}

.cuerpo {
  padding-left: 100px;
  padding-right: 100px;
}
