<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div id="content">
  <div class="row">
    <div class="container-fluid">
      <div class="col-lg-10 col-md-12 entero">
        <div class="contenedor py-3">
          <h1 class="text-center justify-content-center mt-3">
            Panel de ayuda
          </h1>
          <div class="text-start cuerpo mt-5">
            <h2>¿Qué es PintaRGB?</h2>
            <p>
              <strong>PintaRGB</strong> es una empresa líder especializada en
              venta de productos para la decoración, remodelación, diseño y
              embellecimiento del hogar. <br />
              Ha sido la pionera desarrollando un nuevo mercado y satisfaciendo
              todas las necesidades de sus clientes. Se encuentra orientada a
              facilitar el uso de nuestros productos para que nuestros clientes
              puedan realizar su tarea de la mejor forma posible, ya que cuenta
              con una amplia variedad de productos distintos, tanto nacionales
              como internacionales, que se distinguen del resto por su calidad y
              buenos precios.
            </p>
          </div>
          <div class="text-start cuerpo mt-5">
            <h2>¿Cómo empiezo a utilizar el sistema de PintaRGB?</h2>
            <p>
              Es fácil, una vez que tengas un usuario y contraseña, podras
              ingresar a la página principal, en la cual, según sea tu rol en la
              empresa, podrás acceder a distintas secciones para realizar tus
              tareas. Este sistema fue realizado teniendo en cuenta diversos
              factores, uno de ellos fue el de realizar una aplicación que sea
              intuitiva y fácil de usar, para que el usuario pueda realizar sus
              tareas sin inconveniente alguno.
            </p>
          </div>
          <div class="text-start cuerpo mt-5">
            <h2>¿Si olvido mi contraseña, como hago para tener otra?</h2>
            <p>
              En el caso de que olvides tu contraseña de usuario, el
              administrador de sistemas se encargará de proporcionarle una nueva
              cuenta, tanto usuario como contraseña.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
