<nav id="sidebar">
  <div class="sidebar-header">
    <img src="../assets/titleWhite.png" class="img-fluid" />
  </div>
  <ul class="list-unstyled components">
    <li class="desactive pt-2">
      <span class="mi-cuenta">Mi cuenta</span>
    </li>

    <!-- <li class="desactive">
      <a
        href=""
        data-toggle="collapse"
        aria-expanded="false"
        class="d-flex"
        routerLink=""
        routerLinkActive="active"
        ><i class="fa-solid fa-chart-simple pl-1"></i
        ><span class="">Estadísticas</span></a
      >
    </li> -->

    <li class="dropdown">
      <a
        href="#homeSubmenu0"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle d-flex"
      >
        <i class="fa-solid fa-boxes-packing"></i
        ><span class="enlace">Productos </span>
      </a>
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu0">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nuevo-cliente"
            routerLinkActive="active"
            ><i class="fa-solid fa-user-plus"></i>Nuevo Producto</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-clientes"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Productos</a
          >
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a
        href="#homeSubmenu1"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle d-flex"
      >
        <i class="fa-solid fa-user"></i><span class="enlace">Clientes </span>
      </a>
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu1">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nuevo-cliente"
            routerLinkActive="active"
            ><i class="fa-solid fa-user-plus"></i>Nuevo Cliente</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-clientes"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Clientes</a
          >
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a
        href="#homeSubmenu2"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle d-flex enlace"
      >
        <!-- <i class="fa-solid fa-users"></i>Empleados</a -->
        <i class="fa-solid fa-user-tie"></i>Empleados</a
      >
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu2">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nuevo-empleado"
            routerLinkActive="active"
            ><i class="fa-solid fa-user-plus"></i>Nuevo Empleado</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-empleados"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Empleados</a
          >
        </li>
      </ul>
    </li>
    <hr class="hr-sidebar" />
    <li class="desactive pt-2">
      <span class="mi-cuenta">Servicios</span>
    </li>

    <li class="desactive">
      <a
        href=""
        data-toggle="collapse"
        aria-expanded="false"
        class="d-flex"
        routerLink=""
        routerLinkActive="active"
        ><i class="fa-solid fa-chart-simple pl-1"></i
        ><span class="">Estadísticas</span></a
      >
    </li>
    <hr class="hr-sidebar" />
    <li class="dropdown">
      <a class="d-flex a-salir enlace" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar Sesión</a
      >
    </li>
    <hr class="hr-sidebar" />
  </ul>
</nav>
