<nav id="sidebar">
  <div class="sidebar-header">
    <img src="../assets/titleWhite.png" class="img-fluid" />
  </div>
  <ul class="list-unstyled components">
    <!-- ------------------------------------- MI CUENTA ---------------------------- -->

    <li class="desactive pt-2">
      <span class="mi-cuenta">Mi cuenta</span>
    </li>

    <!-- ------------------------------ PRODUCTOS -->

    <li class="dropdown">
      <a
        href="#homeSubmenu0"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle d-flex"
      >
        <i class="fa-solid fa-boxes-packing"></i
        ><span class="enlace">Productos</span>
      </a>
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu0">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nuevo-producto"
            routerLinkActive="active"
            ><i class="fa-solid fa-user-plus"></i>Nuevo Producto</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-productos"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Productos</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/reporte-productos"
            routerLinkActive="active"
            ><i class="fa-solid fa-rectangle-list"></i>Reporte de productos</a
          >
        </li>
      </ul>
    </li>

    <!-- ------------------------- CLIENTES -->
    <li class="dropdown">
      <a
        href="#homeSubmenu2"
        data-toggle="collapse"
        aria-expanded="false"
        [ngClass]="
          visibleECompras || visibleEDeposito
            ? 'd-none'
            : 'dropdown-toggle d-flex enlace'
        "
      >
        <i class="fa-solid fa-user"></i><span class="enlace">Clientes </span>
      </a>
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu2">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nuevo-cliente"
            routerLinkActive="active"
            ><i class="fa-solid fa-user-plus"></i>Nuevo Cliente</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-clientes"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Clientes</a
          >
        </li>
      </ul>
    </li>

    <!-- ------------------------------- EMPLEADOS -->

    <li class="dropdown" id="idEmpleados">
      <a
        href="#homeSubmenu3"
        data-toggle="collapse"
        aria-expanded="false"
        [ngClass]="
          visibleEmpleado || visibleECompras || visibleEDeposito
            ? 'd-none'
            : 'dropdown-toggle d-flex enlace'
        "
      >
        <i class="fa-solid fa-user-tie"></i>Empleados</a
      >
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu3">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nuevo-empleado"
            routerLinkActive="active"
            ><i class="fa-solid fa-user-plus"></i>Nuevo Empleado</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-empleados"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Empleados</a
          >
        </li>
      </ul>
    </li>

    <!-- ---------------------------------- PROVEEDORES -->
    <li class="dropdown">
      <a
        href="#homeSubmenu4"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle d-flex"
      >
        <i class="fa-solid fa-user-tie"></i>Proveedores</a
      >
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu4">
        <li>
          <a
            href=""
            class="d-flex"
            routerLink="/nuevo-proveedor"
            routerLinkActive=""
            ><i class="fa-solid fa-user-plus"></i>Nuevo Proveedor</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-proveedores"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado de Proveedores</a
          >
        </li>
      </ul>
    </li>
    <hr class="hr-sidebar" />

    <!-- --------------------------------------- SERVICIOS -------------------------------------- -->
    <li class="desactive pt-2">
      <span class="mi-cuenta">Servicios</span>
    </li>

    <!-- --------------------------- ESTADISTICAS -->

    <li class="desactive">
      <a
        href=""
        data-toggle="collapse"
        aria-expanded="false"
        [ngClass]="
          visibleEmpleado || visibleECompras || visibleEDeposito
            ? 'd-none'
            : 'd-flex'
        "
        routerLink="/estadisticas"
        routerLinkActive="active"
        ><i class="fa-solid fa-chart-simple pl-1"></i
        ><span class="enlace">Estadísticas</span></a
      >
    </li>

    <!-- ------------------------------------ COMPRAS -->
    <li class="dropdown">
      <a
        href="#homeSubmenu1"
        data-toggle="collapse"
        aria-expanded="false"
        [ngClass]="
          visibleEDeposito ? 'd-none' : 'dropdown-toggle d-flex enlace'
        "
      >
        <i class="fa-solid fa-cart-shopping"></i
        ><span class="enlace">Compras </span>
      </a>
      <ul class="collapse list-unstyled menu pl-3" id="homeSubmenu1">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nueva-compra"
            routerLinkActive="active"
            ><i class="fa-sharp fa-solid fa-credit-card"></i>Nueva Compra</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/compras-por-hacer"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Compras por hacer</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/reporte-compras"
            routerLinkActive="active"
            ><i class="fa-solid fa-rectangle-list"></i>Reporte de compras</a
          >
        </li>
      </ul>
    </li>

    <!-- ------------------------------------ VENTAS -->
    <li class="dropdown">
      <a
        href="#idVenta"
        data-toggle="collapse"
        aria-expanded="false"
        [ngClass]="
          visibleEDeposito ? 'd-none' : 'dropdown-toggle d-flex enlace'
        "
      >
        <i class="fa-solid fa-money-bill"></i
        ><span class="enlace">Ventas </span>
      </a>
      <ul class="collapse list-unstyled menu pl-3" id="idVenta">
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/nueva-venta"
            routerLinkActive="active"
            ><i class="fa-solid fa-money-check-dollar"></i>Nueva Venta</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/listado-ventas"
            routerLinkActive="active"
            ><i class="fa-solid fa-list"></i>Listado ventas</a
          >
        </li>
        <li>
          <a
            href=""
            class="d-flex enlace"
            routerLink="/reporte-ventas"
            routerLinkActive="active"
            ><i class="fa-solid fa-rectangle-list"></i>Reporte de ventas</a
          >
        </li>
      </ul>
    </li>
    <!-- -------------------------------- AYUDA -->
    <li class="desactive">
      <a
        href=""
        data-toggle="collapse"
        aria-expanded="false"
        class="d-flex"
        routerLink="/ayuda"
        routerLinkActive="active"
        ><i class="fa-solid fa-circle-info"></i><span class="">Ayuda</span></a
      >
    </li>

    <hr class="hr-sidebar" />

    <!-- ------------------------------------- CERRAR SESION -------------------------------- -->
    <li class="">
      <a class="d-flex a-salir enlace" href="#cerrarSesion" data-toggle="modal">
        <!-- <a class="d-flex a-salir enlace" (click)="logout()"> -->
        <i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar Sesión</a
      >
    </li>
    <hr class="hr-sidebar" />
  </ul>
</nav>

<!-- --------------------------------------- MODAL ----------------------------------->

<!-- modal cerrar sesion -->
<div id="cerrarSesion" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <p class="modal-title">¿Está seguro que desea cerrar sesión?</p>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-danger"
            data-dismiss="modal"
            value="Cancelar"
          />
          <input
            type="submit"
            class="btn btn-success"
            value="Aceptar"
            (click)="logout()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
