<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div id="content">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div
              class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center"
            >
              <h2 class="ml-lg-2">Listado de Clientes</h2>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of listado">
              <td scope="row">{{ cliente.id }}</td>
              <td scope="row">{{ cliente.nombre }}</td>
              <td scope="row">{{ cliente.mail }}</td>
              <td scope="row">{{ cliente.telefono }}</td>
              <td scope="row">{{ cliente.direccion }}</td>
              <td>
                <div class="d-flex">
                  <button type="button" class="btn btn-danger mr-2">
                    Eliminar
                  </button>
                  <button type="button" class="btn btn-warning">Editar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
