<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div id="content">
  <div class="row">
    <div class="col-lg-10 col-md-12 mx-auto">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div
              class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center"
            >
              <h2 class="ml-lg-2">Listado de Clientes</h2>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Documento</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of listado">
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.apellido }}</td>
              <td>{{ cliente.mail }}</td>
              <td>{{ cliente.telefono }}</td>
              <td>{{ cliente.direccion }}</td>
              <td>{{ cliente.documento }}</td>
              <td>
                <div class="d-flex">
                  <app-delete
                    [id]="cliente.id"
                    (onEliminar)="actualizarListado()"
                    class="mr-2"
                  ></app-delete>
                  <button
                    type="button"
                    name="button"
                    class="btn btn-warning"
                    [routerLink]="['/nuevo-cliente', cliente.id]"
                  >
                    Editar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------- MODAL EDITAR ----------------- -->
<div id="editModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Editar Empleado</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Dirección</label>
            <textarea class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Docuemnto</label>
            <input type="text" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancelar"
          />
          <input type="submit" class="btn btn-info" value="Guardar" />
        </div>
      </form>
    </div>
  </div>
</div>
